[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
nose = "*"
coverage = "*"

[packages]
python-dotenv = "*" 
qiita_v2 = "*"
jinja2 = "*"
boto3 = "*"

[requires]
python_version = "3.7"
